<configuration status="WARN">
    <appenders>
        <File name="SearchFile" fileName="logs/Transactions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="SearchFile" level="info"/>
        </root>
    </loggers>
</configuration>
